@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение";
}

<h1 style="padding-top: 5rem !important">@ViewData["Title"]</h1>
<p>
    Проверете имейла си, за да промените паролата.
</p>
