﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .txt{
        padding-top: 10%;
    }
</style>

<div class="txt">
    <h1>@ViewData["Title"]</h1>

    <p>Не носим отговорност за абсолютно нищо. :D</p>
</div>